.container {
    max-width: 1920px;
    left: 0;
    right: 0;
    margin: auto;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
.firstContainer {
    gap: 100px;
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    .firstContainer {
        gap: 40px;
        margin-bottom: 40px;
    }
    .mainContainer {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }
    .JoinClubInfoContainer {
        margin-bottom: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .firstContainer {
        gap: 50px;
        margin-bottom: 60px;
    }
    .mainContainer {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 60px;
    }
    .JoinClubInfoContainer {
        margin-bottom: 60px;
    }
}

.middleContainer {
    gap: 30px;
    background-color: #0c3543;
    padding-bottom: 0;
    padding-top: 50px;
}

.JoinClubInfoContainer {
    gap: 30px;
    background: linear-gradient(to bottom, #ff9600 95%, #ffffff 5%);
    margin-bottom: 100px;
}

.AboutUsContainer {
    margin-bottom: 50px;
}
