.mainContainer {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
}
.firstContainer {
    gap: 100px;
}
.middleContainer {
    gap: 30px;
    background-color: #0c3543;
    padding-bottom: 0;
    padding-top: 50px;
}

.JoinClubInfoContainer {
    gap: 30px;
    background: linear-gradient(to bottom, #ff9600 95%, #ffffff 5%);
}
