.margin {
    margin-bottom: 100px;
}
.firstContainer {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    gap: 100px;
}
.middleContainer {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    gap: 30px;
    background-color: #0c3543;
    padding-bottom: 0;
    padding-top: 50px;
}

.JoinClubInfoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    gap: 30px;
    background-color: #ff9600;
}
