.JoinUs {
    .JoinUsImg {
        display: flex;
        gap: 30px;
    }
    .JoinUsImgBlock {
        display: flex;
        gap: 30px;
        .JoinUsImgFirst {
            width: 100%;
            height: 500px;
            align-self: flex-start;
            border-radius: 10px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                max-width: 480px;
            }
        }
        .JoinUsImgSecond {
            width: 100%;
            height: 400px;
            align-self: center;
            border-radius: 10px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                max-width: 380px;
            }
        }
        @media (max-width: 480px) {
            .JoinUsImgFirst {
                height: 350px;
            }
            .JoinUsImgSecond {
                height: 300px;
            }
        }
    }

    .info {
        text-align: left;
    }

    h2 {
        color: #14b9f1;
    }

    h1 {
        color: #222222;
        margin: 10px 0;
        font-size: 48px;
        line-height: 50px;
    }

    h3 {
        color: #222222;
    }
    ul {
        margin: 35px 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #222222;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        list-style: none;
        text-align: left;
        padding-bottom: 5px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        li {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 10px;
        }
    }
}
