.button {
    background-color: #ff9600;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 200px;
    height: 60px;
}

.button:hover {
    background-color: #0c3543;
}
