.ReasonsToChooseLogo {
    background-image: url(../img/ReasonToChooseLogo.png);
    background-size: 100% 550px;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    text-align: center;
    position: relative;
    h2 {
        color: #ff9600;
        margin-bottom: 30px;
    }
    h1 {
        color: #ffffff;
    }
    @media (min-width: 1025px) and (max-width: 1200px) {
        .WhiteVector {
            width: 100%;
            height: 200px;
            position: absolute;
            background-image: url(../img/whiteVector.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: -44px;
        }
    }
    @media (min-width: 1201px) {
        .WhiteVector {
            width: 100%;
            height: 200px;
            position: absolute;
            background-image: url(../img/whiteVector.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: 0;
        }
    }
}

.ReasonsToChooseInfo {
    display: flex;
    align-items: center;
    .info {
        text-align: left;
    }

    h2 {
        color: #14b9f1;
    }

    h1 {
        color: #222222;
        margin: 10px 0;
    }

    h3 {
        color: #222222;
    }
    ul {
        margin: 35px 0;
        padding: 0;
    }
    .button {
        text-transform: none;
    }
    li {
        display: flex;
        align-items: center;
        font-family: 'IBM Plex Sans', sans-serif;
        color: #222222;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        list-style: none;
        text-align: left;
        padding-bottom: 5px;
    }
    @media (min-width: 1025px) and (max-width: 1200px) {
        li {
            font-size: 14px;
            line-height: 14px;
        }
    }

    .ReasonToChooseBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        padding: 30px 45px;
        height: 370px;
        h2 {
            padding-top: 35px;
            padding-bottom: 20px;
            font-family: 'IBM Plex Sans';
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #222222;
        }
        h3 {
            text-align: center;
            color: #a0a0a0;
        }
    }
    .imageBlock {
        border-radius: 65px;
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Icon {
        height: 60px;
        width: 60px;
    }

    .AboutTeam {
        background-color: #f2f2fd;
        .Icon {
            color: #0055ff;
        }
    }
    .AboutTrain {
        background-color: #e7fde9;
        .Icon {
            color: #00b33c;
        }
    }
    .AboutSkills {
        background-color: #fff4e5;
        .Icon {
            color: #ff9600;
        }
    }
    .AboutGlobe {
        background-color: #fdf1f5;
        .Icon {
            color: #ff4d79;
        }
    }
    .imageBlock:hover {
        background-color: #0c3543;
        .Icon {
            color: #ffffff;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .ReasonsToChooseLogo {
        margin: 50px 0;
        height: 400px;
        h2 {
            font-size: 44px;
        }
    }
}
