.WhatPeopleSaying {
    position: relative;
    height: 100%;
    margin-top: 100px;
    border: 5px solid #0c3543;
    padding: 20px;
    border-radius: 10px;
    .WhatPeopleSayingInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2 {
            color: #14b9f1;
            padding: 30px 0 10px;
        }
    }

    .WhatPeopleSayingSwiper {
        height: 420px;
        width: 400px;
        padding: 0 20px;
        margin-left: 40px;
        .swiper {
            width: 100%;
            height: 420px;
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            background: radial-gradient(
                circle at 50% -20.71%,
                #bae0e6 0,
                #bbe0e9 6.25%,
                #bcdfeb 12.5%,
                #bedfed 18.75%,
                #c0deef 25%,
                #c3ddf0 31.25%,
                #c6dcf1 37.5%,
                #c9dbf2 43.75%,
                #cddaf2 50%,
                #d1d9f2 56.25%,
                #d5d8f1 62.5%,
                #d9d7f0 68.75%,
                #ddd6ee 75%,
                #e1d5ed 81.25%,
                #e4d4ea 87.5%,
                #e8d3e8 93.75%,
                #ebd2e5 100%
            );
        }
        .swiper-slide img {
            border-radius: 100px;
            width: 120px;
            height: 120px;
        }
        .SlideInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h3 {
                padding: 15px 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: #222222;
                max-width: 320px;
            }
            h2 {
                font-family: 'IBM Plex Sans';
                font-weight: 700;
                font-size: 25px;
                line-height: 31px;
                color: #222222;
                padding-bottom: 20px;
            }
            .thank {
                display: flex;
                align-self: flex-end;
                align-items: center;
                h2 {
                    text-align: center;
                    font-family: 'Yellowtail';
                    font-weight: 700;
                    font-size: 35px;
                    line-height: 45px;
                    color: rgb(250, 72, 2);
                    padding-bottom: 0;
                }
                .icon {
                    width: 45px;
                    height: 45px;
                    color: rgb(250, 72, 2);
                    margin-left: 3px;
                }
            }
        }
    }
    .reviews {
        background: radial-gradient(
            circle at 50% -20.71%,
            #fffff4 0,
            #f6fff0 8.33%,
            #ecffec 16.67%,
            #e1ffe8 25%,
            #d4fce4 33.33%,
            #c5f7e1 41.67%,
            #b5f2de 50%,
            #a4eddd 58.33%,
            #93e8dd 66.67%,
            #83e3de 75%,
            #74dee1 83.33%,
            #65dae5 91.67%,
            #59d6e9 100%
        );
        width: auto;
        border-radius: 10px;
        padding: 10px 40px;

        .reviewform {
            button {
                width: 100px;
                height: 80px;
                color: #ffffff;
                font-weight: 700;
                font-size: 25px;
                line-height: 32px;
                background-color: #f6bb68;
                border-radius: 5px;
                align-self: center;
                margin-left: 30px;
            }
            button:hover {
                background-color: #14b9f1;
            }
            hr {
                border: 2px solid #7e7770;
                left: 0;
                right: 0;
                margin: 30px auto;
            }
            h3 {
                font-family: 'IBM Plex Sans';
                color: #222222;
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                padding-bottom: 10px;
            }
            .textAreaText {
                text-align: left;
                width: 220px;
                margin-top: 10px;

                .textAreaTextField::placeholder {
                    color: #222222;
                }
                textarea:focus {
                    border-color: red;
                }
                .textAreaTextField {
                    min-width: 220px;
                }
            }
            .textAreaName {
                text-align: left;
                width: 220px;
                background-color: #ffffff;
                border-radius: 4px;
                .textAreaNameField label {
                    color: #222222;
                }
            }

            .reviewField {
                display: flex;
                justify-content: center;
            }
        }
    }
}
