.Activities {
    margin-top: 100px;
    .Blocks {
        .Block {
            background-color: #f7f7f7;
            border-radius: 10px 10px 0 0;
            position: relative;

            img {
                width: 100%;
                height: 300px;
                border-radius: 10px;
            }
            h2 {
                text-align: center;
                padding: 25px 10px 15px;
                color: #09455a;
                font-size: 34px;
                line-height: 45px;
                a {
                    text-decoration: none;
                    color: #09455a;
                    &:hover {
                        color: #ff9600;
                    }
                }
            }

            h3 {
                padding: 0 10px;
                font-size: 14px;
                line-height: 26px;
            }
            span {
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                display: none;
                position: absolute;
                bottom: auto;
                left: auto;
                background-color: #f7f7f7;
                padding: 0 10px;
                border-radius: 0 0 10px 10px;
                z-index: 1;
            }
        }
        .Block:hover {
            span {
                display: block;
                border-bottom: 5px solid black;
            }
        }
    }
    .favoritesH1 {
        font-family: 'IBM Plex Sans';
        font-weight: 700;
        font-size: 54px;
        line-height: 65px;
        text-align: left;
    }
    .favoritesHr {
        width: 200px;
    }

    .buttonLike {
        color: #ffff;
        background: none;
        position: absolute;
        top: 260px;
        right: 0;
        width: auto;
        height: auto;
        border: none;
        padding: 0;
    }

    .like {
        color: #14b9f1;
        border: 2px solid #14b9f1;
        border-radius: 5px;
        background: none;
        width: 40px;
        height: 40px;
    }
    .notLike:hover {
        color: #14b9f1;
        border: 2px solid #14b9f1;
        border-radius: 5px;
    }
    .notLike {
        color: #ffff;
        background: none;
        width: 40px;
        height: 40px;
    }
}
