.app-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    padding: 38px 45px 0 45px;
    margin-bottom: 50px;
    position: relative;
    background-image: url(../../../public/images/HeaderBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 700px;
    .logoMenu {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    .headerArtice {
        text-align: center;
        font-family: 'IBM Plex Sans';
        color: #ffffff;
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        padding-top: 100px;
        max-width: 800px;
        align-self: center;
    }
    .logo img {
        width: 200px;
        height: 50px;
    }
    .menuIcon {
        color: white;
        width: 35px;
        height: 35px;
    }

    .buttonMenuIcon {
        background: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .app-bar {
        display: flex;
        align-items: flex-start;
        height: 450px;
        padding: 38px 45px 0 45px;
        margin-bottom: 50px;
        background-size: 100% 450px;
        .headerArtice {
            font-size: 62px;
            line-height: 76px;
            padding-top: 80px;
            max-width: 700px;
        }
        .logo img {
            width: 150px;
            height: 35px;
        }
        .buttonMenuIcon {
            display: none;
        }
    }
    .menu {
        button {
            color: #ffffff;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            background: none;
            margin: 0 10px;
            width: 60px;
        }
        button:hover {
            color: #ff9600;
        }

        .activeMenuButton {
            color: #ff9600;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .MenuButton {
            color: #ffffff;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .MenuButton:hover {
            color: #ff9600;
        }

        .dropDownBtn {
            position: relative;
        }
        .dropDownContent {
            position: absolute;
            display: none;
            padding: 0;
            margin: 3px 0 0;
            left: 15px;
            width: auto;
            z-index: 1;

            li {
                color: #ffffff;
                font-weight: bold;
                font-size: 10px;
                line-height: 16px;
                text-decoration: none;
                list-style: none;
                background-color: #0c3543;
                padding: 1px 6px;
                border-width: 2px;
                border-style: outset;
                border-color: buttonborder;
                border-image: initial;
                width: 100px;
                text-align: left;
            }
        }
        .dropDownBtn:hover .dropDownContent {
            display: block;
        }
        .dropDownContent li:hover {
            color: #ff9600;
        }
    }
    .whiteVector {
        background-image: url(./img/whiteVector.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 210px;
        max-width: 1540px;
        background-size: 100%;
        position: absolute;
        top: 315px;
        right: 0;
        left: 0;
        margin: auto;
    }
}
@media (min-width: 769px) {
    .menu {
        display: block;
    }
    .buttonMenuIcon {
        display: none;
    }
}

@media (min-width: 1025px) {
    .menu {
        .mainMenuButton {
            color: #ffffff;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;
            background: none;
            margin: 0 15px;
            width: 100px;
        }
        .mainMenuButton:hover {
            color: #ff9600;
        }

        .activeMenuButton {
            color: #ff9600;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .MenuButton {
            color: #ffffff;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .MenuButton:hover {
            color: #ff9600;
        }

        .dropDownBtn {
            position: relative;
        }
        .dropDownContent {
            position: absolute;
            display: none;
            padding: 0;
            margin: 3px 0 0;
            left: 50px;
            width: auto;
            z-index: 1;

            li {
                color: #ffffff;
                font-weight: bold;
                font-size: 14px;
                line-height: 26px;
                text-decoration: none;
                list-style: none;
                background-color: #0c3543;
                padding: 1px 6px;
                border-width: 2px;
                border-style: outset;
                border-color: buttonborder;
                border-image: initial;
                width: 130px;
                text-align: left;
            }
        }
        .dropDownBtn:hover .dropDownContent {
            display: block;
        }
        .dropDownContent li:hover {
            color: #ff9600;
        }
    }
    .whiteVector {
        background-image: url(./img/whiteVector.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 210px;
        max-width: 1540px;
        background-size: 100%;
        position: absolute;
        top: 420px;
        right: 0;
        left: 0;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .app-bar {
        height: 450px;
        background-size: 100% 450px;
        .headerArtice {
            font-size: 52px;
            line-height: 66px;
            padding-top: 80px;
        }
        .menu {
            display: none;
        }
        .menu.active {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100vw;
            position: absolute;
            top: 96px;
            left: 0;
            background-color: #ffffff;

            .mainMenuButton {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                background: #ffffff;
                border: none;
                text-align: left;
                margin: 10px 0 10px 35px;
                width: auto;
            }
            .activeMenuButton {
                color: #ff9600;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
            }
            .MenuButton {
                color: black;
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: block;
            }

            .dropDownBtn {
                position: relative;
            }
            .dropDownBtn:hover .dropDownContent {
                display: block;
            }
            .dropDownContent li:hover {
                color: #ff9600;
            }
            .dropDownContent {
                position: absolute;
                display: none;
                padding: 0;
                margin: 0;
                left: 90px;
                top: 0;
                width: auto;
                z-index: 1;

                li {
                    color: black;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration: none;
                    list-style: none;
                    background: #ffffff;
                    padding: 3px 0 3px 6px;
                    border: 2px solid #ff9600;
                    width: 140px;
                    text-align: left;
                    margin: 2px;
                }
            }
        }
        .whiteVector {
            background-image: url(./img/whiteVector.svg);
            background-repeat: no-repeat;
            width: 100%;
            height: 150px;
            max-width: 1540px;
            background-size: 100%;
            position: absolute;
            top: 330px;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

@media (max-width: 480px) {
    .app-bar {
        padding: 25px 15px 0 15px;
        height: 350px;
        background-size: 100% 350px;
        background-image: url(../../../public/images/HeaderBackgroundMobile.png);
        .headerArtice {
            font-size: 34px;
            line-height: 40px;
            padding-top: 60px;
        }
        .logo img {
            width: 130px;
            height: 40px;
        }
        .menuIcon {
            color: white;
            width: 30px;
            height: 30px;
        }
        .menuIconActive {
            color: #ff9600;
            width: 30px;
            height: 30px;
        }
        .whiteVector {
            width: 100%;
            height: 150px;
            top: 295px;
        }
    }
}

@media (min-width: 1201px) {
    .whiteVector {
        top: 394px;
    }
}

@media (min-width: 1400px) {
    .whiteVector {
        top: 350px;
        height: 260px;
    }
}

@media (min-width: 375px) and (max-width: 400px) {
    .app-bar {
        .whiteVector {
            top: 285px;
            height: 210px;
        }
    }
}

@media (min-width: 401px) and (max-width: 480px) {
    .app-bar {
        .whiteVector {
            top: 275px;
            height: 210px;
        }
    }
}

@media (min-width: 481px) and (max-width: 600px) {
    .app-bar {
        .whiteVector {
            top: 365px;
            height: 210px;
        }
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .app-bar {
        .whiteVector {
            top: 345px;
            height: 210px;
        }
    }
}

@media (min-width: 950px) and (max-width: 1024px) {
    .app-bar {
        .whiteVector {
            top: 285px;
            height: 210px;
        }
    }
}
